<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .profile{
            background-image: url('{{profile.image}}');
            background-repeat: no-repeat;
            background-size: 20vh 25vw;
            height: 20vh;
            width: 25vw;
        }
    </style>
</head>
<body>
    <div class="profile"></div>
</body>
</html>